html{
    cursor: url(./cursor.cur), auto;
}

body{
    background: url('./fruit-ninja-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 0;
    margin: 0;
}

@keyframes left-to-right{
    0%{
        left: 0%;
    }
    100%{
        left: 95%;
    }
}
@keyframes top-to-bottom{
    from{
        top: 0%;
    }
    to{
        top: 95%;
    }
}
@keyframes right-to-left{
    from{
        right: 0%;
    }
    to{
        right: 95%;
    }
}
@keyframes bottom-to-top{
    0%{
        bottom: 0%;
        left: 10%;
    }
    50%{
        bottom: 75%;
        left: 30%;
        transform: rotate(180deg);
    }
    100%{
        bottom: 0%;
        left: 50%;
        transform: rotate(360deg);
    }
}

.top{
    /* width: 50vw;
    height: 2vh;
    background-color: black; */
    margin-left: 25vw;
    position: absolute;
    top: 0%;
}

.bottom{
    /* width: 25vw;
    height: 2vh;
    background-color: black; */
    margin-left: 0;
    position: absolute;
    bottom: 0%;
}

.main-container{
    position: absolute;
}

.left{
    /* width: 2vh;
    height: 30vh;
    background-color: black; */
    position: absolute;
    left: 0%;
    margin-top: 10vh;
}

.right{
    /* width: 2vh;
    height: 30vh;
    background-color: black; */
    position: absolute;
    right: 0%;
    margin-top: 10vh;
}

.score-container{
    position: relative;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    z-index: 3;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.25em, 0.5em;
    cursor: pointer;
    margin: 10px 0;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}